@import "./normalize.css";
@import "./variables.css";
@import "./styles/home.css";
@import "./styles/services.css";
@import "./styles/vehicles.css";
@import "./styles/contact.css";
@import "./styles/responsive.css";

html {
  scroll-behavior: smooth;
}

/* Header - Nav - Title */

h1 {
  position: sticky;
  top: 50px;
  font-family: var(--poiret);
  width: 100%;
  height: fit-content;
  font-size: 3vw;
  font-weight: lighter;
  text-shadow: 0 5px 10px var(--marineBlue);
  padding-left: 50px;
}
h2 {
  position: sticky;
  top: 0;
  height: fit-content;
  margin: 0;
  padding: 50px;
  color: var(--marineBlue);
  font-size: 4vw;
  font-weight: lighter;
  text-align: left;
  font-family: var(--poiret);
}

/* Nav Toggler btn */

.nav-toggler {
  position: fixed;
  z-index: 20;
  top: 5%;
  right: 3%;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.line {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background: var(--pink);
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}
.l1 {
  transform: translateY(-10px);
}
.l3 {
  transform: translateY(10px);
}
.nav-toggler.toggle {
  position: fixed;
}
.nav-toggler.toggle .l1 {
  transform: translateY(0) rotate(135deg);
}
.nav-toggler.toggle .l2 {
  opacity: 0;
}
.nav-toggler.toggle .l3 {
  transform: translateY(0) rotate(-135deg);
}

header {
  position: fixed;
  width: 100%;
  height: 40vh;
  margin-top: -40vh;
  transition: 0.6s;
  border-bottom: 2px solid var(--white);
  backdrop-filter: blur(10px) brightness(0.75);
  z-index: 5;
}
header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul {
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
header nav ul li {
  list-style-type: none;
  padding: 1em;
  transition: 0.4s;
  font-family: var(--poiret);
}
header a {
  color: var(--white);
  font-size: 2.5em;
  text-decoration: none;
  transition: 0.4s;
}
header li:hover {
  transform: translateY(10px);
  cursor: pointer;
}
header li:hover a {
  color: var(--pink);
}
.active {
  margin-top: 0;
}

/* Responsive */

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 4vw;
  }
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 6vw;
  }
  header a {
    font-size: 2em;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 10vw;
  }
}
