@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&family=Poiret+One&display=swap");
:root {
  /* Colors */

  --darkBlue: #301e4e;
  --black: #1f1235;
  --marineBlue: #67568c;
  --clearBlue: #d4d8f0;
  --pink: #ff6e6c;
  --yellow: #fbdd74;
  --white: #f8f7ff;
  --grey: #f4effc;

  /* Gradients */

  /* Fonts */

  --oswald: "Oswald";
  --poiret: "Poiret One";
}
