#services {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background: url(../assets/img/bretagne.webp) no-repeat center/cover;
  background-attachment: fixed;
}
.article-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
#services article {
  width: 70%;
  border: 1px solid red;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse wrap;
  margin: 4em 90px 4em 0;
  backdrop-filter: blur(5px);
  border: 2px solid var(--clearBlue);
  border-radius: 20px;
  transition: 0.4s;
}
#services article:hover {
  cursor: pointer;
  filter: contrast(1.25);
  box-shadow: 0 2px 20px #3e3e3e;
}
.text-container {
  width: 45%;
  height: auto;
  margin: 0;
  padding: 1em;
}
#services h3 {
  width: 100%;
  font-family: var(--poiret);
  font-weight: 600;
  color: var(--white);
  font-size: 2em;
}
#services p {
  text-align: justify;
  font-family: var(--poiret);
  font-size: 1.5em;
  color: var(--white);
}
.short-img {
  width: 40%;
  border-radius: 20px 0 0 20px;
  background: url(../assets/img/short-trip.webp) no-repeat center/cover;
}
.long-img {
  width: 40%;
  border-radius: 20px 0 0 20px;
  background: url(../assets/img/long-trip.webp) no-repeat center/cover;
}
.tourist-img {
  width: 40%;
  border-radius: 20px 0 0 20px;
  background: url(../assets/img/tourist-trip.webp) no-repeat center/cover;
}
