#services {
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #d4d8f0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(212%2c 216%2c 240%2c 1)'%3e%3c/rect%3e%3cpath d='M1090.98 75.97a22.59 22.59 0 1 0-0.75-45.17z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M600.94 197.4a38.07 38.07 0 1 0-9.98-75.48z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M109.86 7.34L118.31 7.34L118.31 15.79L109.86 15.79z' fill='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M1421.94 271.78a11.83 11.83 0 1 0 23.64-1.12z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M1386.69 516.61L1388.15 516.61L1388.15 570.78L1386.69 570.78z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1224.41 308.47L1236.22 308.47L1236.22 330.39L1224.41 330.39z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M855.71 304.34L905.96 304.34L905.96 354.59L855.71 354.59z' fill='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M659.21 173.87L674.56 173.87L674.56 189.22L659.21 189.22z' stroke='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M683.68 479.43L730.34 479.43L730.34 528.09L683.68 528.09z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M777.06 488.9L778.73 488.9L778.73 512.49L777.06 512.49z' stroke='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M805.26 54.44L855.28 54.44L855.28 79.43L805.26 79.43z' fill='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M1250.8 520.34a13.93 13.93 0 1 0-2.57 27.74z' stroke='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1126.53 176.96a4.65 4.65 0 1 0 7.77-5.11z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M731.23 151.79L751.27 151.79L751.27 171.83L731.23 171.83z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M816.94 192.77L837.48 192.77L837.48 213.31L816.94 213.31z' stroke='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M76.58 292.07 a26.48 26.48 0 1 0 52.96 0 a26.48 26.48 0 1 0 -52.96 0z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M584.4 86.31 a8.4 8.4 0 1 0 16.8 0 a8.4 8.4 0 1 0 -16.8 0z' stroke='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M642.07 72.25L685.07 72.25L685.07 78.96L642.07 78.96z' fill='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M112.92 530.46L163.07 530.46L163.07 544.42L112.92 544.42z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M701.74 27.53L747.6 27.53L747.6 69.29L701.74 69.29z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M1230.52 521.9 a35.1 35.1 0 1 0 70.2 0 a35.1 35.1 0 1 0 -70.2 0z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M85.86 327.08a28.93 28.93 0 1 0 55.38-16.78z' stroke='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M392.48 324.56L428.08 324.56L428.08 326.91L392.48 326.91z' stroke='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M421.15 335.68 a1.61 1.61 0 1 0 3.22 0 a1.61 1.61 0 1 0 -3.22 0z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1188.43 436.15a23.85 23.85 0 1 0 47.66-1.82z' fill='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M1100.29 41.99a50.15 50.15 0 1 0 100.06-6.98z' stroke='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M513.63 446.82a30.4 30.4 0 1 0 31.48 52.02z' fill='rgba(255%2c 110%2c 108%2c 1)'%3e%3c/path%3e%3cpath d='M585.08 10.61L587.62 10.61L587.62 13.15L585.08 13.15z' stroke='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3cpath d='M1392.29 96.29L1438.75 96.29L1438.75 117.35L1392.29 117.35z' fill='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M1117.51 221.79L1163.19 221.79L1163.19 267.47L1117.51 267.47z' fill='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M446.28 82.91a17.86 17.86 0 1 0-32.73 14.3z' fill='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M-1.17 181.82 a32.37 32.37 0 1 0 64.74 0 a32.37 32.37 0 1 0 -64.74 0z' fill='rgba(48%2c 30%2c 78%2c 1)'%3e%3c/path%3e%3cpath d='M410.33 247.45a2.62 2.62 0 1 0-4.5 2.68z' fill='rgba(251%2c 221%2c 116%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  background-size: cover;
}

/* Reprise code normal */

.article-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
#services article {
  width: 60%;
  height: 20vw;
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse wrap;
  align-items: center;
  margin: 4em 120px 4em 0;
  background: transparent;
  backdrop-filter: blur(15px);
  border: 2px solid var(--marineBlue);
  border-radius: 20px;
  transition: 0.4s;
}
#services article:hover {
  cursor: pointer;
  filter: contrast(1.25);
  box-shadow: 0 2px 20px #3e3e3e;
  transform: translateX(-20px);
}
.text-container {
  width: 55%;
  height: auto;
  margin: 0;
  padding: 0 1em;
}
#services h3 {
  width: 100%;
  font-family: var(--poiret);
  font-weight: 600;
  color: var(--darkBlue);
  font-size: 2em;
  margin: 0.5em 0;
}
#services p {
  text-align: justify;
  font-family: var(--poiret);
  font-size: 1.5em;
  line-height: 1.3em;
  color: var(--darkBlue);
}
.short-img {
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background: url(../assets/img/short-trip.webp) no-repeat center/cover;
}
.long-img {
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background: url(../assets/img/long-trip.webp) no-repeat center/cover;
}
.tourist-img {
  width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background: url(../assets/img/tourist-trip.webp) no-repeat center/cover;
}
